---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;
$max-width:100%;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page
{
   width:100%;
   padding-right: 300px;
}
